<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans 
         https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- DAO beans -->
    <bean id="uzytkownikDao" class="edu.atins.dao.impl.UzytkownikDaoImpl"/>
    <bean id="wiadomoscDao" class="edu.atins.dao.impl.WiadomoscDaoImpl"/>
    <bean id="followerDao" class="edu.atins.dao.impl.FollowerDaoImpl"/>

</beans>
